{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Verstka</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <div class="header_container">
                <h2><a class="header_link" href="/">DenCo</a></h2>
                <div class="header_nav">
                    <a href="/about" class="header_link">About</a>
                    <a href="/" class="header_link">Books</a>
                    <a href="/" class="header_link">Fanfiks</a>
                    <a href="/" class="header_link">Games</a>
                </div>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>