/* HTML */
body{
    margin: 0;
    background-color: antiquewhite;
}

/* Header */
.header{
    background-color: burlywood;
    min-height: 50px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
}
.header_container{
    width: 80%;
    display: flex;
    justify-content: space-between;

    margin: auto;
    text-align: center;
}
.header_nav{
    font-size: 16px;
    display: flex;
    align-items: center;
}
.header_link{
    text-decoration: none;
    color:white;
    margin-right: 8px;
    opacity: .8;

    transition: .2s color;

    position: relative;
}
.header_link:hover{
    color:yellow;
}
.header_link::after{
    content: "";
    bottom: -3px;
    left: 10%;
    height: 2px;
    width: 0%;
    background-color: white;
    opacity: .8;
    position: absolute;

    transition: .2s color;
    transition: .3s width;
}
.header_link:hover::after{
    background-color: yellow;
    width:80%;
}

/* Content */
.container{
    margin-left: 12px;
}

.greeting{
    font-family: 'Montserrat', sans-serif;
}

.about{
    font-family: 'Montserrat', sans-serif;
}

.bordered_img{
    border-radius: 12px;
    margin-right: 24px;
}

.about_me{
    display: flex;
    align-items:flex-start;
}

.about_links{
    margin-top: -8px;
}
.about_links_list{
    padding-inline-start: 16px;
    list-style-type: none;
}
.about_link{
    text-decoration: none;
}
